div{
    background-color: #EAF9F5;   
}

.middle-container
{
    
}

.bottom-container
{
    
}

h1
{
    margin-top: 0px;
}

body
{
    margin: 0px;
    text-align: center;
}

.pro
{
    text-decoration: underline;
}
